<br>
<h3 class="text-center">
  AWS Polly
</h3>
<hr>
<div class="image">
  <form [formGroup]="dataForm">
    <textarea formControlName="text" placeholder="Write your text that you want to convert to speech" rows="20"
      name="comment[text]" id="comment_text" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox"
      aria-autocomplete="list" aria-haspopup="true" required>
    </textarea>
    <br><br><br>
  </form>
  <div class="dropdown">
    <select name="" id="select" [(ngModel)]="selectedVoice">
      <option value="" disabled>
        voices
      </option>
      <option value={{item}} *ngFor="let item of voice">
        {{item}}
      </option>
    </select>
  </div>
  <br><br>
  <button id="btn" style="margin-left:490px" (click)="onSubmit()">
    Speak
  </button>
  <br><br>
</div>
<br>
<div class="image" style="padding:25px 0px 0px 750px;" *ngIf="error == null">
  <audio controls>
    <source src="https://docs.google.com/uc?export=download&id={{id}}" type="audio/mp3">
  </audio>
  <br><br>
</div>
<br><br>
<div class="image">
  <h4 style="color:white;margin-left: 300px;">
    {{error}}
  </h4>
</div>