textarea {
    margin-top: 50px;
    margin-left: 50px;
    width: 900px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    box-shadow: 5px 5px 5px #888888;
    background-color: #FFFFFF;
}

textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
    box-shadow: 5px 5px 5px #888888;
}

textarea:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}

select {
    margin-left: 450px
}

audio:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
    transition: all 0.5s linear;
}

#btn {
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
}

#btn:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}

#select {
    width: 140px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#select:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}

.image {
    background-image: url('https://media.istockphoto.com/photos/sound-wave-blue-blur-background-picture-id1363923250?b=1&k=20&m=1363923250&s=170667a&w=0&h=_KZYLZotmtGf7mnaoiyJEgeSU6zDVWKNj0a-mvXc5Ls=');
    height: 100%;
    width: 100%;
    padding-left: 380px;
    background-repeat: no-repeat;
    background-size: cover;
}